:root {
    --get-row: 16;
}

#container div:hover{
    background-color: yellow;
}

#container div {
    background-color: orange;
    transition: background-color 1s;
}

#container {
    width: 960px;
    height: 960px;
    border-style: solid;
    border-color: black;
    display: grid;
    grid-template-columns: repeat(var(--get-row), 1fr);
}
